h2 {
  color: #00473e;
  font-family: "Roboto", sans-serif;
  margin-top: 1.5rem;
  text-align: center;
}

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.leftContainer {
  margin: 2rem;
}

@media screen and (max-width: 480px) {
  .leftContainer {
    margin: 1rem 0;
  }
}
