h2 {
  color: #00473e;
  font-family: "Roboto", sans-serif;
  margin-top: 1.5rem;
  text-align: center;
}

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e0e5ec;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 20px;
  height: 100%;
  width: 90%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}
