.timerContainer {
  border-radius: 40px;
  color: #00473e;
  background: #ecf0f3;
  width: 90%;
  margin: 0 auto 2rem;
  padding: 20px 30px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.timerDisplay {
  color: #00473e;
  text-align: center;
  font-size: 2rem;
  padding: 10px 20px 20px;
  letter-spacing: 4px;
  font-weight: 700;
}

.timerContainer h3 {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.timerButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.timerContainer button {
  color: #00473e;
  font-weight: 700;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-top: 1rem;
  margin-right: 1rem;
  text-align: center;
  border-width: 0px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.startButton {
  color: #0bccbc;
}

.stopButton {
  color: #f05f46;
}

.timerButton .disable {
  opacity: 0.3;
}

@media screen and (max-width: 960px) {
  .timerContainer {
    margin-top: 0;
  }
}

@media screen and (max-width: 480px) {
  .timerDisplay {
    font-size: 1.5rem;
  }
  .timerContainer {
    margin: 1rem 0;
    width: 100%;
  }
}
