.textContainer h3 {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  color: #00473e;
  height: 60%;
  justify-content: space-around;
}

.activeContainer {
  display: flex;
  align-items: center;
}

.activeItem {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  padding: 10px 20px;
  border-radius: 40px;
  box-shadow: inset 8px 8px 13px #c9cccf, inset -8px -8px 13px #ffffff;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h2 {
  text-align: center;
}

.loginUserContainer {
  border-radius: 40px;
  background: #ecf0f3;
  width: 70%;
  margin: 3rem auto 2rem;
  padding: 20px 30px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}
