.step {
  color: #00473e;
  margin: 0 auto;
  height: 15rem;
}

.stepDetail {
  display: flex;
  align-items: center;
  height: 10rem;
}

.step h3 {
  text-indent: 3rem;
  margin: 0.3rem 0 0.3rem 0;
}

.stepImage {
  margin-left: 5%;
  margin-right: 5%;
  width: 40%;
}

.stepExplain {
  padding-right: 20px;
}
