.header {
  height: 8vh;
  background: #e0e5ec;
}

.appLogo {
  font-family: "Roboto", sans-serif;
  color: #e0e5ec;
  padding-top: 1rem;
  text-align: center;
  text-shadow: 4px 4px 3px #bebebe, -3px -3px 5px #ffffff;
  font-size: 3rem;
  letter-spacing: 1rem;
  text-indent: 0.8em;
  font-weight: 900;
}

@media (max-width: 500px) {
  .appLogo {
    font-size: 2rem;
  }
}
