.statusContainer {
  border-radius: 40px;
  color: #00473e;
  background: #ecf0f3;
  width: 100%;
  height: 14rem;
  margin: 0 auto 3rem;
  padding: 1rem;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.workingContent {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.statusImage {
  height: 4rem;
  padding: 0 1rem;
  width: 30%;
}

.statusText {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1rem 0;
  height: 4rem;
  width: 70%;
}

.workingContentInput {
  text-indent: 1rem;
  background: #ecf0f3;
  border-radius: 20px;
  width: 90%;
  height: 3rem;
  margin: 2rem auto;
  display: block;
  border-style: none;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: inset 20px 20px 60px #d9d9d9, inset -20px -20px 60px #ffffff;
}

.workingSelectContainer,
.breakTimeSelectContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.continueButton,
.cancelButton,
.tenMinuteBreak,
.fiveMinuteBreak {
  color: #00473e;
  font-weight: 600;
  width: 40%;
  height: 50px;
  border-radius: 20px;
  margin-top: 1rem;
  margin-right: 1rem;
  text-align: center;
  border-width: 0px;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.disable {
  opacity: 0.3;
}

@media screen and (max-width: 600px) {
  .statusContainer {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .statusImage {
    display: none;
  }
  .statusContainer {
    width: 100%;
  }
}
