html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #e0e5ec;
  color: #00473e;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinInnerContainer h1 {
  margin-top: 0px;
}

.joinOuterContainer {
  margin-top: 3rem;
  justify-content: center;
  text-align: center;
  height: 92vh;
  align-items: center;
}

.joinInnerContainer {
  width: 80%;
  padding: 20px 0 50px;
  margin: 0 auto 3rem;
  border-radius: 40px;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.singleJoinButton {
  color: #00473e;
  padding: 10px 40px;
  font-weight: 700;
  font-size: 18px;
  border-radius: 40px;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

.joinInput {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  padding: 20px 10px 20px 20px;
  width: 80%;
  margin-bottom: 1rem;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

.heading {
  font-size: 1.5em;
  padding: 20px 0 20px;
  margin-bottom: 2rem;
  box-shadow: 13px 13px 20px #cbced1, 0px 0px 0px #ffffff;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #faae2b;
  margin-top: 1rem;
  padding: 15px 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 50%;
  box-shadow: 11px 11px 11px #d59425, -3px -3px 22px #ffc831;
}

.errorNameMessage,
.errorRoomMessage {
  color: #db5622;
  font-weight: 600;
  margin-bottom: 1rem;
}

.nameLabel,
.roomLabel {
  font-weight: 600;
  width: 100%;
}

.icon {
  vertical-align: middle;
}

.stopwatchIcon {
  width: 1.5rem;
  margin-right: 0.4rem;
  margin-bottom: 0.15rem;
  vertical-align: middle;
}

.stepContainer {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.step {
  margin-bottom: 3rem;
  width: 80%;
  padding: 20px 0 50px;
  border-radius: 40px;
  background: #ecf0f3;
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
}

@media (max-width: 600px) {
  .joinOuterContainer {
    height: 100%;
    align-items: start;
    margin-top: 2rem;
  }

  .joinInnerContainer {
    width: 90%;
    padding: 10px 10px 30px 10px;
  }
}

button:focus {
  outline: 0;
}
