table {
  border-collapse: unset;
  border-spacing: 0;
  width: 100%;
  tr {
    width: 100%;
  }

  .workContent {
    width: 40%;
  }
  .workTime {
    width: 30%;
  }
  .totalTime {
    width: 30%;
  }

  tbody {
    .workContent,
    .workTime,
    .totalTime {
      padding: 0.7rem 0;
      border-bottom: solid 0.5px rgb(175, 175, 175);
      text-align: center;
    }

    .workTime,
    .totalTime {
      font-size: 0.9rem;
    }

    .workDay {
      font-weight: 600;
      font-size: 0.9rem;
      padding-top: 0.5rem;
    }
  }
}

.signInRecommend {
  text-align: center;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
