table {
  border-collapse: unset;
  border-spacing: 0;
  width: 100%;
  tr {
    width: 100%;
  }

  .workContent {
    width: 40%;
  }
  .workTime {
    width: 30%;
    // margin-left: 20%;
  }
  .totalTime {
    width: 30%;
    // margin-left: 10%;
  }

  tbody {
    .workContent,
    .workTime,
    .totalTime {
      padding: 0.7rem 0;
      border-bottom: solid 0.5px rgb(175, 175, 175);
      text-align: center;
    }

    .workTime,
    .totalTime {
      font-size: 0.9rem;
    }
  }
}
